.signup
{
    
               position: inherit;
                width: 750px;
                height: 500px;
                margin: auto;
                padding-left:  60px;
                background-color:rgb(214, 227, 213);
                border-radius: 15px;
                margin-top: 9%;
                
}
.bgg
            {
                width: 100%;
        height: 1008px;
        background: rgb(13, 61, 35);
        opacity: 1;
        position: relative;
        overflow: hidden;
            }
            .my
            {
                text-align: end;
                top: 20px;
                right: 250px;
                font-size:40px;
                font-style: normal;
                margin-top: 200px;
            
            }
            .or
            {
                text-align: left;
                padding-left: 10%;
                border-radius: 20px;
               
            }

            